@font-face {
    font-family: Gilroy;
    font-weight: 600;
    src: url(/font/Gilroy-Semibold.ttf);
}
@font-face {
    font-family: Gilroy;
    font-weight: 500;
    src: url(/font/Gilroy-Medium.ttf);
}
@font-face {
    font-family: Gilroy;
    font-weight: 400;
    src: url(/font/Gilroy-Regular.ttf);
}
@font-face {
    font-family: Neuzeit;
    font-weight: 500;
    src: url(/font/NeuzeitGro-Reg.ttf);
}
@font-face {
    font-family: Neuzeit;
    font-weight: 700;
    src: url(/font/NeuzeitGro-Bol.ttf);
}

body{
    --dark: #0B0B0B;
    --light: #FFFFFF;
    --dark-grey: rgb(40, 40, 40);
    background-color: var(--main-background);
    color: var(--main-font);
    overflow-x: hidden;
    max-width: 100%;
    -webkit-text-size-adjust: none;
    font-size: 16px;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: content-box;
}


.banner {
    background: linear-gradient(106.17deg, rgb(105, 177, 201) 0.132%,rgb(96, 129, 195) 50.675%,rgb(85, 88, 175) 99.946%);
    .banner__text {
        width: 100%;
        margin: 10px 0;
        color: var(--light);
        font-family: Gilroy, sans-serif;
        font-size: clamp(11px, 3.4vw, 18px);
        font-weight: 600;
        line-height: 120%;
        text-align: center;
    }

}

.title{
    font-size: clamp(32px, 9vw, 56px);
    line-height: 1.1;
    font-family: Neuzeit;
    font-weight: 700;
}
.text{
    font-family: Gilroy;
    font-size: clamp(14px, 3.5vw, 22px);
    font-weight: 400;
    line-height: 130%;
}

.header {
    padding-top: 16px;
    background-color: var(--dark);
    .header__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo {
    }
    .header__list {
        display: flex;
        align-items: center;
        gap: clamp(25px, 9vw, 55px);
    
    }
    .header__link {
        color: var(--light);
        opacity: 0.7;
        font-family: Gilroy;
        font-size: clamp(12px,2vw, 18px);
        font-weight: 400;
        line-height: 130%;
    }
    
}


.about {
    border-radius: 0 0 30px 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--dark);
    background-image: url(/img/studiobudsplus-pdp-p04-hevc.mp4.rendition\ 1.png);

    
.about__wrapper{
    padding-top: 40px;
}
.about__title {
    color: var(--light);
    margin-bottom: 2px;
}
.about__text {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.about__prices {
    background: linear-gradient(181.2deg, rgba(11, 11, 11, 0.4) 1.01%, rgba(11, 11, 11, 0) 98.98%),
    linear-gradient(29.22deg, rgba(255, 255, 255, 0.11) 5.35%, rgba(255, 255, 255, 0.205) 91.84%);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--light);
    padding-block: clamp(0px, 1.6vw, 12px);
    padding-inline: clamp(12px, 2vw, 24px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.35);


}
.about__price--old {
    font-family: Neuzeit;
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 500;
    line-height: 100%;
    text-decoration-line: line-through;
    text-transform: capitalize;
}
.about__price {
    font-family: Neuzeit;
    font-size: clamp(40px, 12vw, 65px);
    font-weight: 500;
    line-height: 1.4;
}


.about__cards {
    margin: 186px 0 0 0;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 33% 1 0;
    color: var(--light);
    gap: clamp(4px, 3.3vw, 50px);

}
.about__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.1) 0.163%,rgba(255, 255, 255, 0) 88.856%);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.158);
    padding: clamp(10px, 3vw, 40px);
    height: clamp(118px, 24vw, 240px);
}
.card-about {
}
.card-about__img {
}
.card-about__text {
    color: var(--light);
    font-family: Gilroy;
    font-size: clamp(9px, 2.5vw, 24px);
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    white-space: nowrap;
}
}


.product__wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 0 24px 0;
    .product__banner {
        padding: 24px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .product__banner span{
        color: rgb(11, 11, 11);
        font-family: Gilroy;
        font-size: clamp(12px,2vw, 15px);
        font-weight: 400;
        line-height: 130%;
    }
    .main-slider{
        margin-bottom: 10px;
    }
    .sub-swiper{
        margin-bottom: 24px;
    }


    .product__title {
        color: var(--dark-grey);
    }
 
    .product__text {
        color: rgba(40, 40, 40, 0.8);
        margin-bottom: 15px;
    }
   
    .product__prices {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 12px;
    }
    .product__price--old {
        color: rgba(40, 40, 40, 0.8);
        font-family: Neuzeit;
        font-size: clamp(18px, 5vw, 24px);
        font-weight: 500;
        line-height: 100%;
        text-decoration-line: line-through;
        text-transform: capitalize;
    }
    .product__price {
        color: var(--dark-grey);
        font-family: Neuzeit;
        font-size: clamp(40px, 12vw, 65px);
        font-weight: 500;
        line-height: 48px;
    }
    .product__discount {
        color: var(--light);
        font-family: Neuzeit;
        font-size: clamp(20px, 5vw, 28px);
        font-weight: 500;
        line-height: 24px;
        padding: 8px 20px;
        border-radius: 40px;
        background: linear-gradient(106.17deg, rgb(105, 177, 201) 1.681%,rgb(96, 129, 195) 51.116%,rgb(85, 88, 175) 99.307%);
    }
    .product__color-text{
        color: var(--dark-grey);
        font-family: Neuzeit;
        font-size: clamp(14px, 2.5vw, 22px);
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 9px;
    }

    .product__colors {
        display: flex;
        align-items: center;
        gap: clamp(10px, 2vw, 18px);
        margin-bottom: 12px;
    }

    .product__color {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        margin: 1px;
    }
    .product__color .is-active {
        padding: 5px;
        border: 2px solid rgb(98, 98, 98);
        border-radius: 50%
    }
    
    
    
    .slider-list{
        display: none;
        position: relative;
    }
    .slider-list.is-active{
        display: block ;
        
    }

    .products__btns{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .product__btn{
        border-radius: 40px;
        border: none;
        background-color: var(--dark-grey);
        padding-block: 20px;
        padding-inline: clamp(90px, 31vw, 150px);
        color: rgb(255, 255, 255);
        font-family: Neuzeit;
        font-size: 20px;
        font-weight: 600;
        line-height: 130%;
        text-align: center;
    }

    .products__discount-banner {
        display: flex;
        align-items: center;
        gap: clamp(30px, 5vw, 55px);
        margin-bottom: 12px;
    }
    .products__discount--text {
        color: rgb(246, 93, 129);
        font-family: Gilroy;
        font-size: clamp(12px, 4vw, 18px);
        font-weight: 500;
        line-height: 130%;
    }
    .products__discount--text-big {
        color: rgb(246, 93, 129);
        font-family: Gilroy;
        font-size: clamp(16px, 4vw, 24px);
        font-weight: 700;
        line-height: 110%;

    }


    .products__pays {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
@media (max-width:375px) {
    .products__pay svg{
        width: 52.5px;
        
    }
}




.splide__slide img {
    display: flex;
    justify-content: center;
    max-width: 450px;
    width: 100%;
    height: auto;
  }
  .splide__slide {
    opacity: 0.6;
  }
  
  .splide__slide.is-active {
    opacity: 1;
  }


 
    .sub-splide__track ul{
        display: flex;
        justify-content: center;

    }
  .splide__arrow {
    background: transparent !important;
    top: -200px !important;

}


.splide__track--fade>.splide__list>.splide__slide {
    display: flex;
    justify-content: center;
    // border: 1px solid rgb(220, 220, 220);
    // border-radius: 30px;

}
.splide__track--fade>.splide__list>.splide__slide img {
    padding: 40px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 30px;

}

.splide__track--nav>.splide__list>.splide__slide {
    border: 3px solid transparent;
    cursor: pointer;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 1px solid rgb(220, 220, 220) !important;
    border-radius: 30px;
}
@media (max-width:401px) {
    .splide__track--nav>.splide__list>.splide__slide {
        padding: 5px;
    }
    .splide__track--nav>.splide__list>.splide__slide.is-active {
        border-radius: 20px;
    }
}


.info {
    margin-bottom: clamp(24px, 4vw, 44px);
    .info__wrapper {
        border-radius: 30px;
        background: rgb(247, 247, 247);
        padding: 15px;
    }


    .info__top {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .info__presents {
    }
    .presens-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .presens-info__header {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .presens-info__title {
        color: var(--dark-grey);
        font-family: Neuzeit;
        font-size: clamp(14px, 2vw, 22px);
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
    }
    .presens-info__text {
        color: var(--dark-grey);
        opacity: 0.7;
        font-family: Gilroy;
        font-size: clamp(14px, 2vw, 22px);
        font-weight: 400;
        line-height: 130%;
    }
    .line{
        width: 100%;
        height: 1px;
        background-color: rgb(220, 220, 220);
        margin: 16px 0;
    }

    .info__bottom {
        display: flex;
        flex-direction: column;
        gap: clamp(12px, 2vw, 20px);
    }

    .pro-info {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .pro-info__title {
        color: var(--dark-grey);
        font-family: Neuzeit;
        font-size: clamp(14px, 2.4vw, 24px);
        font-weight: 700;
        line-height: 110%;
    }
    .pro-info__block {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .pro-info__list li{
        color: var(--dark-grey);
        font-family: Gilroy;
        font-size: clamp(14px, 2.4vw, 24px);
        font-weight: 400;
        line-height: 130%;
        opacity: 0.8;
    }
    .pro-info__list--main li{
        color: var(--dark-grey);
        font-family: Gilroy;
        font-size: clamp(14px, 2.4vw, 24px);
        font-weight: 500;
        line-height: 130%;
    }
}



.tasks {
 

    .tasks__wrapper {
    }
 
    .accordion {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .accordion-item {
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        padding: 15px;
        align-items: start;
        border-radius: 30px;
        border: 1px solid rgb(98, 98, 98);
        backdrop-filter: blur(15px);
    }
    .accordion-item.active{
        gap: 21px;
    }

    .accordion__title {
        display: flex;
        align-items: center;
        width: 100%;
        transition: all 0.5s ease 0s;
        
    }

    .accordion__title .text{
        color: var(--dark-grey);
        font-family: Neuzeit;
        font-size: clamp(14px, 2.4vw, 20px);
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
        margin-left: 10px;
        margin-right: auto;
    }
    
    .open-btn{
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: var(--dark-grey);
        position: relative;
        z-index: 3;
    }
    .span-1{
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 8px;
        width: 16px;
        height: 2px;
        background-color: var(--light);
    }
    .span-2{
        position: absolute;
        z-index: 5;
        top: 8px;
        left: 50%;
        width: 2px;
        height: 16px;
        background-color: var(--light);


    }


    .accordion-item.active .span-2{
        display: none;
    }
    
    
   
    .accordion__text {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: all 0.5s ease 0s;
        margin: 0 auto;
        color: var(--dark-grey);
        font-family: Gilroy;
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        opacity: 0.8;
    }   
    .accordion-item.active{
        background-size: cover;
        transition: all 0.5s ease 0s;
    }
      
    .accordion-item.active .accordion__text {
        grid-template-rows: 1fr;
        height: 100%;
        transition: all 0.3s ease 0s;
        margin-right: clamp(20px, 2vw, 60px);

      }
    
    .spoiler__arrow{
        position: absolute;
        right: 0;
        top: 40px;
        margin-right: 10px;
    }
    .arrow{
        display: block;
        width: 26px;
        height: 26px;
        position: relative;
        z-index: 3;
        margin-left: 130px;
    
    }
    .arrow span{
        position: absolute;
        background-color: var(--contrast-color);
        left: 0;
        width: 120%;
        height: 3px;
        top: 10px;
        transition: all 0.3s ease 0s;
        transform: rotate(-45deg);
    
    }
    
    .arrow::before,
    .arrow::after{
        content: " ";
        position: absolute;
        width: 100%;
        background-color: var(--contrast-color);
        height: 3px;  
        transition: all 0.5s ease 0s;
    }
    .arrow::before{
        top: 0;
    }
    .arrow::after{
        top: 12px;
        margin-left: 13px;
        transform: rotate(-90deg);
    }
    .accordion-item.active .arrow::before{
        right: 10px;
        top: 10px;
        transform: rotate(-90deg);
    }
    .accordion-item.active .arrow::after{
        top: 22px;
        right: -2px;
        transform: rotate(0deg);
    }
}





.footer{
    height: 100px;
}


