@font-face {
    font-family: Gilroy;
    font-weight: 600;
    src: url(/font/Gilroy-Semibold.ttf);
}
@font-face {
    font-family: Gilroy;
    font-weight: 500;
    src: url(/font/Gilroy-Medium.ttf);
}
@font-face {
    font-family: Gilroy;
    font-weight: 400;
    src: url(/font/Gilroy-Regular.ttf);
}
@font-face {
    font-family: Neuzeit;
    font-weight: 500;
    src: url(/font/NeuzeitGro-Reg.ttf);
}
@font-face {
    font-family: Neuzeit;
    font-weight: 700;
    src: url(/font/NeuzeitGro-Bol.ttf);
}

body{
    --dark: #0B0B0B;
    --light: #FFFFFF;
    --dark-grey: rgb(40, 40, 40);
    background-color: var(--main-background);
    color: var(--main-font);
    overflow-x: hidden;
    max-width: 100%;
    -webkit-text-size-adjust: none;
    font-size: 10px;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: content-box;
}


.banner {
    background: linear-gradient(106.17deg, rgb(105, 177, 201) 0.132%,rgb(96, 129, 195) 50.675%,rgb(85, 88, 175) 99.946%);
    .banner__text {
        width: 100%;
        margin: 10px 0;
        color: var(--light);
        font-family: Gilroy, sans-serif;
        font-size: clamp(11px, 3.4vw, 18px);
        font-weight: 600;
        line-height: 120%;
        text-align: center;
    }

}

.title{
    font-size: clamp(32px, 9vw, 56px);
    line-height: 1.1;
    font-family: Neuzeit;
    font-weight: 700;
}
.text{
    font-family: Gilroy;
    font-size: clamp(14px, 3.5vw, 22px);
    font-weight: 400;
    line-height: 130%;
}

.header {
    padding-top: 16px;
    background-color: var(--dark);
    .header__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo {
    }
    .header__list {
        display: flex;
        align-items: center;
        gap: clamp(25px, 9vw, 55px);
    
    }
    .header__link {
        color: var(--light);
        opacity: 0.7;
        font-family: Gilroy;
        font-size: clamp(12px,2vw, 18px);
        font-weight: 400;
        line-height: 130%;
    }
    
}


.about {
    border-radius: 0 0 30px 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--dark);
    background-image: url(/img/studiobudsplus-pdp-p04-hevc.mp4.rendition\ 1.png);

    
.about__wrapper{
    padding-top: 40px;
}
.about__title {
    color: var(--light);
    margin-bottom: 2px;
}
.about__text {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.about__prices {
    background: linear-gradient(181.2deg, rgba(11, 11, 11, 0.4) 1.01%, rgba(11, 11, 11, 0) 98.98%),
    linear-gradient(29.22deg, rgba(255, 255, 255, 0.11) 5.35%, rgba(255, 255, 255, 0.205) 91.84%);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--light);
    padding-block: clamp(0px, 1.6vw, 12px);
    padding-inline: clamp(12px, 2vw, 24px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.35);


}
.about__price--old {
    font-family: Neuzeit;
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 500;
    line-height: 100%;
    text-decoration-line: line-through;
    text-transform: capitalize;
}
.about__price {
    font-family: Neuzeit;
    font-size: clamp(40px, 12vw, 65px);
    font-weight: 500;
    line-height: 1.4;
}


.about__cards {
    margin: 186px 0 0 0;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 33% 1 0;
    color: var(--light);
    gap: clamp(4px, 3.3vw, 50px);

}
.about__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.1) 0.163%,rgba(255, 255, 255, 0) 88.856%);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.158);
    padding: clamp(10px, 3vw, 40px);
    height: clamp(118px, 24vw, 240px);
}
.card-about {
}
.card-about__img {
}
.card-about__text {
    color: var(--light);
    font-family: Gilroy;
    font-size: clamp(9px, 2.5vw, 24px);
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    white-space: nowrap;
}
}


.product__wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    .product__banner {
        padding: 24px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .product__banner span{
        color: rgb(11, 11, 11);
        font-family: Gilroy;
        font-size: clamp(12px,2vw, 15px);
        font-weight: 400;
        line-height: 130%;
    }
    .main-slider{
        margin-bottom: 10px;
    }
    .sub-swiper{
        margin-bottom: 24px;
    }


    .product__title {
        color: var(--dark-grey);
    }
 
    .product__text {
        color: rgba(40, 40, 40, 0.8);
        margin-bottom: 15px;
    }
   
    .product__prices {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 12px;
    }
    .product__price--old {
        color: rgba(40, 40, 40, 0.8);
        font-family: Neuzeit;
        font-size: clamp(18px, 5vw, 24px);
        font-weight: 500;
        line-height: 100%;
        text-decoration-line: line-through;
        text-transform: capitalize;
    }
    .product__price {
        color: var(--dark-grey);
        font-family: Neuzeit;
        font-size: clamp(40px, 12vw, 65px);
        font-weight: 500;
        line-height: 48px;
    }
    .product__discount {
        color: var(--light);
        font-family: Neuzeit;
        font-size: clamp(20px, 5vw, 28px);
        font-weight: 500;
        line-height: 24px;
        padding: 8px 20px;
        border-radius: 40px;
        background: linear-gradient(106.17deg, rgb(105, 177, 201) 1.681%,rgb(96, 129, 195) 51.116%,rgb(85, 88, 175) 99.307%);
    }
    .product__color-text{
        color: var(--dark-grey);
        font-family: Neuzeit;
        font-size: clamp(14px, 2.5vw, 22px);
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 9px;
    }

    .product__colors {
        display: flex;
        align-items: center;
        gap: clamp(10px, 2vw, 18px);

    }

  

}

.product__color {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: 1px;
}
.product__color .is-active {
    padding: 5px;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 50%
}



.slider-list{
    display: none;
    position: relative;
}
.slider-list .is-active{
    display: block !important;
    
}

.splide__slide img {
    display: flex;
    justify-content: center;
    max-width: 450px;
    width: 100%;
    height: auto;
  }
  .splide__slide {
    opacity: 0.6;
  }
  
  .splide__slide.is-active {
    opacity: 1;
  }


 
    .sub-splide__track ul{
        display: flex;
        justify-content: center;

    }
  .splide__arrow {
    background: transparent !important;
    top: -200px !important;

}


.splide__track--fade>.splide__list>.splide__slide {
    display: flex;
    justify-content: center;
    // border: 1px solid rgb(220, 220, 220);
    // border-radius: 30px;

}
.splide__track--fade>.splide__list>.splide__slide img {
    padding: 40px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 30px;

}

.splide__track--nav>.splide__list>.splide__slide {
    border: 3px solid transparent;
    cursor: pointer;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 1px solid rgb(220, 220, 220) !important;
    border-radius: 30px;
}
@media (max-width:401px) {
    .splide__track--nav>.splide__list>.splide__slide {
        padding: 5px;
    }
    .splide__track--nav>.splide__list>.splide__slide.is-active {
        border-radius: 20px;
    }
}